@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #171717;
    --foreground: #ffffff;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@theme {
    --color-fundo-claro-1: #fefdfa;
    --color-fundo-claro-2: #f4f3f2;
    --color-icone-claro: #e09898;

    --color-fundo-escuro-1: #1e1d1a;
    --color-fundo-escuro-2: #272624;
    --color-icone-escuro: #7a3330;

    --color-fundo-especial: #353431;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Esconde scrollbar para todos os navegadores modernos */
.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
